@charset "UTF-8";

/* light theme color */
$light-background: #faf4ed;
$light-background-secondary: #d8dee9;
$light-color: #575279;
$light-color-secondary: #286983;
$light-border-color: #56949f;
$light-background-header: $light-background;
$light-color-variant: #d7827e;
$light-table-color: #e5e9f0;

/* dark theme colors */
$dark-background: #232136;
$dark-background-secondary: #3b3d42;
$dark-color: #d8dee9;
$dark-color-secondary: #8fbcbb;
$dark-border-color: #9ccfd8;
$dark-background-header: $dark-background;
$dark-color-variant: #ebbcba;
$dark-table-color: #2f3541;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 1200px;
